In [2]:
import pandas as pd
import os
import gc

In [2]:
# Forçar coleta de lixo
gc.collect()

0

In [3]:
#leitura da base de notas do enem
df_enem = pd.read_csv(r"C:\Users\peixe\Downloads\microdados_enem_2020\DADOS\MICRODADOS_ENEM_2020.csv", encoding='latin1', delimiter=';')
df_enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,200006271946,2020,11,F,1,2,1,1,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200001195856,2020,11,M,2,3,1,1,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200001943954,2020,4,F,2,3,2,2,0,2,...,B,A,A,B,A,A,A,A,A,A
3,200001908998,2020,2,M,1,3,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200001634757,2020,4,F,1,3,2,1,1,1,...,A,A,A,B,A,B,B,A,A,B

In [4]:
#filtro de valores em branco
df_enem['TP_ENSINO'] = df_enem['TP_ENSINO'].fillna(0).astype(int)
df_enem['CO_MUNICIPIO_ESC'] = df_enem['CO_MUNICIPIO_ESC'].fillna(0).astype(int)
df_enem['NO_MUNICIPIO_ESC'] = df_enem['NO_MUNICIPIO_ESC'].fillna('Não Informado').astype(str)
df_enem['CO_UF_ESC'] = df_enem['CO_UF_ESC'].fillna(0).astype(int)
df_enem['SG_UF_ESC'] = df_enem['SG_UF_ESC'].fillna('Não Informado').astype(str)
df_enem['TP_DEPENDENCIA_ADM_ESC'] = df_enem['TP_DEPENDENCIA_ADM_ESC'].fillna(0).astype(int)
df_enem['TP_LOCALIZACAO_ESC'] = df_enem['TP_LOCALIZACAO_ESC'].fillna(0).astype(int)
df_enem['TP_SIT_FUNC_ESC'] = df_enem['TP_SIT_FUNC_ESC'].fillna(0).astype(int)
df_enem['CO_PROVA_CN'] = df_enem['CO_PROVA_CN'].fillna(0).astype(int)
df_enem['CO_PROVA_CH'] = df_enem['CO_PROVA_CH'].fillna(0).astype(int)
df_enem['CO_PROVA_LC'] = df_enem['CO_PROVA_LC'].fillna(0).astype(int)
df_enem['CO_PROVA_MT'] = df_enem['CO_PROVA_MT'].fillna(0).astype(int)
df_enem['NU_NOTA_CN'] = df_enem['NU_NOTA_CN'].fillna(0).astype(int)
df_enem['NU_NOTA_CH'] = df_enem['NU_NOTA_CH'].fillna(0).astype(int)
df_enem['NU_NOTA_LC'] = df_enem['NU_NOTA_LC'].fillna(0).astype(int)
df_enem['NU_NOTA_MT'] = df_enem['NU_NOTA_MT'].fillna(0).astype(int)
df_enem['TX_GABARITO_CN'] = df_enem['TX_GABARITO_CN'].fillna('S/I').astype(str)
df_enem['TX_GABARITO_CH'] = df_enem['TX_GABARITO_CH'].fillna('S/I').astype(str)
df_enem['TX_GABARITO_LC'] = df_enem['TX_GABARITO_LC'].fillna('S/I').astype(str)
df_enem['TX_GABARITO_MT'] = df_enem['TX_GABARITO_MT'].fillna('S/I').astype(str)
df_enem['NU_NOTA_COMP1'] = df_enem['NU_NOTA_COMP1'].fillna(0).astype(int)
df_enem['NU_NOTA_COMP2'] = df_enem['NU_NOTA_COMP2'].fillna(0).astype(int)
df_enem['NU_NOTA_COMP3'] = df_enem['NU_NOTA_COMP3'].fillna(0).astype(int)
df_enem['NU_NOTA_COMP4'] = df_enem['NU_NOTA_COMP4'].fillna(0).astype(int)
df_enem['NU_NOTA_COMP5'] = df_enem['NU_NOTA_COMP5'].fillna(0).astype(int)
df_enem['NU_NOTA_REDACAO'] = df_enem['NU_NOTA_REDACAO'].fillna(0).astype(int)
df_enem['Q001'] = df_enem['Q001'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q002'] = df_enem['Q002'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q003'] = df_enem['Q003'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q004'] = df_enem['Q004'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q005'] = df_enem['Q005'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q006'] = df_enem['Q006'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q007'] = df_enem['Q007'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q008'] = df_enem['Q008'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q009'] = df_enem['Q009'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q010'] = df_enem['Q010'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q011'] = df_enem['Q011'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q012'] = df_enem['Q012'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q013'] = df_enem['Q013'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q014'] = df_enem['Q014'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q015'] = df_enem['Q015'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q016'] = df_enem['Q016'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q017'] = df_enem['Q017'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q018'] = df_enem['Q018'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q019'] = df_enem['Q019'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q020'] = df_enem['Q020'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q021'] = df_enem['Q021'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q022'] = df_enem['Q022'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q023'] = df_enem['Q023'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q024'] = df_enem['Q024'].fillna('SEM RESPOSTA').astype(str)
df_enem['Q025'] = df_enem['Q025'].fillna('SEM RESPOSTA').astype(str)

In [5]:
df_enem['TP_PRESENCA_CN'] = df_enem['TP_PRESENCA_CN'].replace(0, 'Ausente').astype(str)
df_enem['TP_PRESENCA_CN'] = df_enem['TP_PRESENCA_CN'].replace('1', 'Presente').astype(str)
df_enem['TP_PRESENCA_CN'] = df_enem['TP_PRESENCA_CN'].replace('2', 'Eliminado').astype(str)
df_enem['TP_PRESENCA_CH'] = df_enem['TP_PRESENCA_CH'].replace(0, 'Ausente').astype(str)
df_enem['TP_PRESENCA_CH'] = df_enem['TP_PRESENCA_CH'].replace('1', 'Presente').astype(str)
df_enem['TP_PRESENCA_CH'] = df_enem['TP_PRESENCA_CH'].replace('2', 'Eliminado').astype(str)
df_enem['TP_PRESENCA_LC'] = df_enem['TP_PRESENCA_LC'].replace(0, 'Ausente').astype(str)
df_enem['TP_PRESENCA_LC'] = df_enem['TP_PRESENCA_LC'].replace('1', 'Presente').astype(str)
df_enem['TP_PRESENCA_LC'] = df_enem['TP_PRESENCA_LC'].replace('2', 'Eliminado').astype(str)
df_enem['TP_PRESENCA_MT'] = df_enem['TP_PRESENCA_MT'].replace(0, 'Ausente').astype(str)
df_enem['TP_PRESENCA_MT'] = df_enem['TP_PRESENCA_MT'].replace('1', 'Presente').astype(str)
df_enem['TP_PRESENCA_MT'] = df_enem['TP_PRESENCA_MT'].replace('2', 'Eliminado').astype(str)

In [6]:
df_enem['TP_COR_RACA'] = df_enem['TP_COR_RACA'].replace(0, 'Não Informado').astype(str)
df_enem['TP_COR_RACA'] = df_enem['TP_COR_RACA'].replace('1', 'Branca').astype(str)
df_enem['TP_COR_RACA'] = df_enem['TP_COR_RACA'].replace('2', 'Preta').astype(str)
df_enem['TP_COR_RACA'] = df_enem['TP_COR_RACA'].replace('3', 'Parda').astype(str)
df_enem['TP_COR_RACA'] = df_enem['TP_COR_RACA'].replace('4', 'Amarela').astype(str)
df_enem['TP_COR_RACA'] = df_enem['TP_COR_RACA'].replace('5', 'Indígena').astype(str)

In [7]:
df_enem['TP_ESTADO_CIVIL'] = df_enem['TP_ESTADO_CIVIL'].replace(0, 'Não Informado').astype(str)
df_enem['TP_ESTADO_CIVIL'] = df_enem['TP_ESTADO_CIVIL'].replace('1', 'Solteiro (a)').astype(str)
df_enem['TP_ESTADO_CIVIL'] = df_enem['TP_ESTADO_CIVIL'].replace('2', 'Casado(a)/Mora com companheiro (a)').astype(str)
df_enem['TP_ESTADO_CIVIL'] = df_enem['TP_ESTADO_CIVIL'].replace('3', 'Divorciado(a)/Desquitado(a)/Separado(a)').astype(str)
df_enem['TP_ESTADO_CIVIL'] = df_enem['TP_ESTADO_CIVIL'].replace('4', 'Viúvo(a)').astype(str)

In [8]:
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace(1, 'Menor de 17 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('2', '17 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('3', '18 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('4', '19 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('5', '20 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('6', '21 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('7', '22 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('8', '23 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('9', '24 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('10', '25 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('11', 'Entre 26 e 30 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('12', 'Entre 31 e 35 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('13', 'Entre 36 e 40 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('14', 'Entre 41 e 45 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('15', 'Entre 46 e 50 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('16', 'Entre 51 e 55 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('17', 'Entre 56 e 60 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('18', 'Entre 61 e 65 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('19', 'Entre 66 e 70 anos').astype(str)
df_enem['TP_FAIXA_ETARIA'] = df_enem['TP_FAIXA_ETARIA'].replace('20', 'Maior de 70 anos').astype(str)

In [9]:
df_enem['TP_ST_CONCLUSAO'] = df_enem['TP_ST_CONCLUSAO'].replace(1, 'Concluído').astype(str)
df_enem['TP_ST_CONCLUSAO'] = df_enem['TP_ST_CONCLUSAO'].replace('2', 'Concluindo 2020').astype(str)
df_enem['TP_ST_CONCLUSAO'] = df_enem['TP_ST_CONCLUSAO'].replace('3', 'Conclusão após 2020').astype(str)
df_enem['TP_ST_CONCLUSAO'] = df_enem['TP_ST_CONCLUSAO'].replace('4', 'S/Conclusão S/Curso').astype(str)

In [10]:
df_enem['TP_ESCOLA'] = df_enem['TP_ESCOLA'].replace(1, 'Sem Informação').astype(str)
df_enem['TP_ESCOLA'] = df_enem['TP_ESCOLA'].replace('2', 'Pública').astype(str)
df_enem['TP_ESCOLA'] = df_enem['TP_ESCOLA'].replace('3', 'Privada').astype(str)
df_enem['TP_ESCOLA'] = df_enem['TP_ESCOLA'].replace('4', 'Exterior').astype(str)

In [11]:
df_enem['TP_LOCALIZACAO_ESC'] = df_enem['TP_LOCALIZACAO_ESC'].replace(1, 'Urbana').astype(str)
df_enem['TP_LOCALIZACAO_ESC'] = df_enem['TP_LOCALIZACAO_ESC'].replace('2', 'Rural').astype(str)

In [12]:
df_enem['TP_NACIONALIDADE'] = df_enem['TP_NACIONALIDADE'].replace(0, 'Não Informado').astype(str)
df_enem['TP_NACIONALIDADE'] = df_enem['TP_NACIONALIDADE'].replace('1', 'Brasileiro(a)').astype(str)
df_enem['TP_NACIONALIDADE'] = df_enem['TP_NACIONALIDADE'].replace('2', 'Brasileiro(a) Naturalizado(a)').astype(str)
df_enem['TP_NACIONALIDADE'] = df_enem['TP_NACIONALIDADE'].replace('3', 'Estrangeiro(a)').astype(str)
df_enem['TP_NACIONALIDADE'] = df_enem['TP_NACIONALIDADE'].replace('4', 'Brasileiro(a) Nato(a), nascido(a) no exterior').astype(str)

In [13]:
#substituição de número por situação da redação
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].replace(1, 'Sem problemas').astype(str)
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].replace(2, 'Anulada').astype(str)
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].replace(3, 'Cópia Texto Motivador').astype(str)
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].replace(4, 'Em Branco').astype(str)
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].replace(6, 'Fuga ao tema').astype(str)
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].replace(7, 'Não atendimento ao tipo textual').astype(str)
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].replace(8, 'Texto insuficiente').astype(str)
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].replace(9, 'Parte desconectada').astype(str)
df_enem['TP_STATUS_REDACAO'] = df_enem['TP_STATUS_REDACAO'].fillna('N/A').astype(str)

In [14]:
#Substituição de número da lingua estrangeira escolhida
df_enem['TP_LINGUA'] = df_enem['TP_LINGUA'].replace(0, 'Inglês').astype(str)
df_enem['TP_LINGUA'] = df_enem['TP_LINGUA'].replace('1', 'Espanhol').astype(str)

In [6]:
#renomear colunas
df_enem = df_enem.rename(columns={'TP_SEXO': 'SEXO'})
df_enem = df_enem.rename(columns={'TP_FAIXA': 'FAIXA_ETARIA'})
df_enem = df_enem.rename(columns={'TP_COR_RACA': 'ETNIA'})
df_enem = df_enem.rename(columns={'TP_ST_CONCLUSAO': 'ST_CONCLUSAO'})
df_enem = df_enem.rename(columns={'TP_ESCOLA': 'TIPO_ESCOLA'})
df_enem = df_enem.rename(columns={'IN_TREINEIRO': 'TREINEIRO'})
df_enem = df_enem.rename(columns={'CO_MUNICIPIO_PROVA': 'COD_MUNICIPIO'})
df_enem = df_enem.rename(columns={'NO_MUNICIPIO_PROVA': 'NOME_MUNICIPIO'})
df_enem = df_enem.rename(columns={'CO_UF_PROVA': 'COD_UF'})
df_enem = df_enem.rename(columns={'SG_UF_PROVA': 'UF'})
df_enem = df_enem.rename(columns={'TP_PRESENCA_CN': 'PRESENCA_CN'})
df_enem = df_enem.rename(columns={'TP_PRESENCA_CH': 'PRESENCA_CH'})
df_enem = df_enem.rename(columns={'TP_PRESENCA_LC': 'PRESENCA_LC'})
df_enem = df_enem.rename(columns={'TP_PRESENCA_MT': 'PRESENCA_MT'})
df_enem = df_enem.rename(columns={'CO_PROVA_CN': 'COD_PCN'})
df_enem = df_enem.rename(columns={'CO_PROVA_CH': 'COD_PCH'})
df_enem = df_enem.rename(columns={'CO_PROVA_LC': 'COD_PLC'})
df_enem = df_enem.rename(columns={'CO_PROVA_MT': 'COD_PMT'})
df_enem = df_enem.rename(columns={'NU_NOTA_CN': 'NOTA_PCN'})
df_enem = df_enem.rename(columns={'NU_NOTA_CH': 'NOTA_PCH'})
df_enem = df_enem.rename(columns={'NU_NOTA_LC': 'NOTA_PLC'})
df_enem = df_enem.rename(columns={'NU_NOTA_MT': 'NOTA_PMT'})
df_enem = df_enem.rename(columns={'TP_LINGUA': 'LINGUA_ESCOLHIDA'})
df_enem = df_enem.rename(columns={'TP_ESTADO_CIVIL': 'ESTADO_CIVIL'})
df_enem = df_enem.rename(columns={'TP_NACIONALIDADE': 'NACIONALIDADE'})
df_enem = df_enem.rename(columns={'TP_ANO_CONCLUIU': 'ANO_CONCLUSAO'})
df_enem = df_enem.rename(columns={'TP_LOCALIZACAO_ESC': 'LOCALIZACAO_ESC'})
df_enem = df_enem.rename(columns={'TP_SIT_FUNC_ESC': 'FUNCIONAMENTO_ESC'})
df_enem = df_enem.rename(columns={'NU_NOTA_COMP1': 'NOTA_COMP1'})
df_enem = df_enem.rename(columns={'NU_NOTA_COMP2': 'NOTA_COMP2'})
df_enem = df_enem.rename(columns={'NU_NOTA_COMP3': 'NOTA_COMP3'})
df_enem = df_enem.rename(columns={'NU_NOTA_COMP4': 'NOTA_COMP4'})
df_enem = df_enem.rename(columns={'NU_NOTA_COMP5': 'NOTA_COMP5'})
df_enem = df_enem.rename(columns={'NU_NOTA_REDACAO': 'NOTA_REDACAO'})

In [7]:
# Filtra os valores numéricos na coluna
column_name = "PRESENCA_CN"
numeric_values = df_enem[df_enem[column_name].str.match(r'^\d+$')][column_name].unique()

# Imprime os valores numéricos da coluna
print(f"Valores numéricos na coluna {column_name}:")
for value in numeric_values:
    print(value)

Valores numéricos na coluna PRESENCA_CN:

In [16]:
df_enem['TREINEIRO'] = df_enem['TREINEIRO'].replace(0, 'NÃO').astype(str)
df_enem['TREINEIRO'] = df_enem['TREINEIRO'].replace(1, 'SIM').astype(str)

In [17]:
#criação de arquivo csv com dados tratados
df_enem.to_csv('C:/Users/peixe/Desktop/Desafio Técnico Mesha/Base Enem Tratada2.csv', index=False, sep=';', encoding='UTF-8')

In [18]:
#print("Nome das colunas:")
#for column in df_enem.columns:
   #print(column)